# 忽略编译输出
build/
*.obj
*.pdb
*.exe
*.dll
*.lib
*.log
*.user
*.vcxproj*
*.sln
*.cache
*.bin
*.dat
*.pak
*.yaml
*.stamp*
*.json
*.dir/
*.filters
*.ipch
*.tlog
*.idb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.db
*.pyc
*.class
*.o
*.so
*.a
*.swp
*.swo
*.tmp
*.bak
*.old
*.orig
*.rej
*.gz
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.log
*.log.*
*.cache
*.vs/
Debug/
Release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ipynb_checkpoints/

# 忽略本地设置
*.vscode/
*.idea/

# 忽略 libs 目录下所有内容
libs/
